<div id="page-content">

    </div>

        <div class="card-group">
          <div class="card">
            <img src="/images/111.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Psychology 111</h5>
              <p class="card-text">Introduction to Psychology</p>
              <a href="http://localhost:3000/articles/new" class="btn btn-secondary">View Class</a>
            </div>
          </div>
          <div class="card">
            <img src="/images/112.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Psychology 112</h5>
              <p class="card-text">Foundational Experiences in Psychology</p>
              <a href="#" class="btn btn-secondary">View Class</a>
            </div>
          </div>
          <div class="card">
            <img src="/images/271.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Psychology 271</h5>
              <p class="card-text">Cognitive Psychology</p>
              <a href="#" class="btn btn-secondary">View Class</a>
            </div>
          </div>
        </div>
