<div id="page-content">
<h1>Blog Listing Page</h1>
<div class="card" style="width: 18rem;">
  <img src="/images/sully.jpg" class="card-img-bottom" alt="...">
  <div class="card-body-">
    <h5 class="card-title">Frosty Paw</h5>
    <p class="card-text">A quick story about a yummy ice cream treat</p>
  </div>
  <ul class="list-group list-group-flush">
  </ul>
  <div class="card-body">
    <a href="http://localhost:3000/articles/1" class="card-link">Link to blog</a>
    </div>


  </div>
  </div>
