<h1>Blog Listing Page</h1>

<div class="card-center" style="width: 18rem;">
  <img src="/images/sully.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Frosty Paw</h5>
    <p class="card-text">A quick story about a yummy ice cream treat</p>
  </div>
  <ul class="list-group list-group-flush">
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Link to blog</a>

  </div>
</div>
