


    <div class="card bg-dark text-white">
    <img src="/images/Blue Geometric Google Classroom Header-1.png" class="card-img" alt="...">
  </div>





  <body>
    <div class="container">
<h2>             <a href="http://localhost:3000/introduction/ch1" class="btn btn-secondary">Introduction to Psychology</a></h2>
<h2>            <a href="http://localhost:3000/introduction/ch2" class="btn btn-secondary">Psychological Research</a></h2>
<h2>           <a href="http://localhost:3000/introduction/ch3" class="btn btn-secondary">Biopsychology   </a></h2>
<h2>       <a href="http://localhost:3000/introduction/ch4" class="btn btn-secondary">States of Consciousness       </a></h2>
<h2>    <a href="http://localhost:3000/introduction/ch5" class="btn btn-secondary">Sensation and Perception          </a></h2>
<h2>           <a href="http://localhost:3000/introduction/ch6" class="btn btn-secondary">Learning   </a></h2>
<h2>  <a href="http://localhost:3000/introduction/ch7" class="btn btn-secondary">Memory</a></h2>
<h2>      <a href="http://localhost:3000/introduction/ch8" class="btn btn-secondary">Lifespan Development        </a></h2>
<h2>          <a href="http://localhost:3000/introduction/ch9" class="btn btn-secondary">Emotions and Motivations    </a></h2>
<h2>     <a href="http://localhost:3000/introduction/ch10" class="btn btn-secondary">Personality         </a></h2>
<h2>      <a href="http://localhost:3000/introduction/ch11" class="btn btn-secondary">Social Psychology        </a></h2>
<h2>         <a href="http://localhost:3000/introduction/ch12" class="btn btn-secondary">Industrial-Organizational Psychology     </a></h2>
<h2>         <a href="http://localhost:3000/introduction/ch13" class="btn btn-secondary">Stress, Lifestyle, and Health     </a></h2>
<h2>         <a href="http://localhost:3000/introduction/ch14" class="btn btn-secondary">Psychological Disorders     </a></h2>
<h2>       <a href="http://localhost:3000/introduction/ch15" class="btn btn-secondary">Introduction to Psychology       </a></h2>

</div>
</body>
