<h1>Videos</h1>


<iframe width="560" height="315" src="https://www.youtube.com/embed/DpZLTzDcbMI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/VR18KBZxl78" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<a href="http://localhost:3000/articles/new" class="btn btn-secondary">back</a>
