<div class="card mb-3" style="max-width: 14500px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="/images/ElliottJardin.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Meet The Team</h5>
        <p><h2>Elliott Jardin</h2> <h4>Hi, All! I am happy that you are here, and I hope that you enjoy this website. I decided to create this site to address three gaps
        in higher education.</p> <p>#1: Once you leave a class, you often lose access to that material. Memory research shows that we are most likely to forget things that we infrequently retrieve. When the time comes where you will need
      material from class, I want it to be available to you.</p> <p> #2: As a professor I would like to continue to be in touch as assist you achieve your dream job. I have included an area where you may provide life updates.
    </p> <p>#3 This site will more easily allow current students and graduates connect for opportunities such as jobs and internships</h4></p> </p>
      </div>
    </div>
  </div>
</div>
