<!DOCTYPE html>
<html>
    <head>
        <title> Ice Cream Social  </title>

  <body>
    <div class="p-3 mb-2 bg-secondary text-white">

    <div class="card text-white bg-dark mb-3" style="max-width: 1840px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="/images/school.png" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h1 class="card-title">Welcome to the Miami Regional's Psychology class repository</h1>
            <p class="card-text">Find your old courses here</p>
            <a href="http://localhost:3000/articles" class="btn btn-danger">Course repository</a>

          </div>
        </div>
      </div>
    </div>
    <div class="card text-white bg-dark mb-3" style="max-width: 1840px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="/images/grad.png" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h1 class="card-title">How's your life going?</h1>
            <p class="card-text">We would love to hear life updates and stay in touch</p>
            <a href="http://localhost:3000/icecreams" class="btn btn-danger">Share Here</a>
            </div>
          </div>
        </div>
      </div>
    </div>




  </body>
