<!DOCTYPE html>
<html>
    <head>
        <title> Ice Cream Social  </title>

  <body>
    <div class="p-3 mb-2 bg-secondary text-white">

    <div class="card text-white bg-dark mb-3" style="max-width: 1840px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="/images/todo.png" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h1 class="card-title">                  Welcome to ICS</h1>
            <p class="card-text">Your home for everything ice cream! Find the best ice creams, rank them, blog them, share them!</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <a href="#" class="btn btn-secondary">Sign in here</a>

          </div>
        </div>
      </div>
    </div>
    <div class="card text-white bg-dark mb-3" style="max-width: 1840px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="/images/ics.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h1 class="card-title">Get the inside scoop</h1>
            <p class="card-text">Follow our ice cream tasters blogs to hear about yummy ice cream and great deals</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <a href="http://localhost:3000/articles" class="btn btn-secondary">Blog here</a>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="card text-white bg-dark mb-3" style="max-width: 1840px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="/images/best.png" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h1 class="card-title">What is the best ice cream in the world?</h1>
            <p class="card-text">Make your picks here to share with the ice cream community</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <a href=http://localhost:3000/icecreams class="btn btn-secondary">Rank ice cream here</a>

          </div>
        </div>
      </div>
    </div>

  </body>
