<!DOCTYPE html>
<html>
    <head>
        <title> Ice Cream Social  </title>
    </head>
      <link rel="stylesheet" type="text/css" href= "css/style.css">
    <div style="background-image: url('images/ics.jpg');">

<h1> Ice Cream Social! </h1>
    <!-- headings syntax -->
<p> <a href= "https://www.pexels.com/photo/two-ice-cream-cups-1362534/" target = "_b"> Places </a>
</p>
<p> <a href= "https://www.pexels.com/photo/two-ice-cream-cups-1362534/" target = "_b"> Recipes </a>
</p>
<p> <a href= "https://www.pexels.com/photo/two-ice-cream-cups-1362534/" target = "_b"> Friends </a>
</p>
<p> <a href= "https://www.pexels.com/photo/two-ice-cream-cups-1362534/" target = "_b"> To Try </a>
</p>

<%= link_to 'Add Ice Cream Rankings', new_icecream_path %>

<p> <a href= "https://www.pexels.com/photo/two-ice-cream-cups-1362534/" target = "_b"> Sign in </a>
</p>



<!-- Lists
<ul>
  <li> Chocolate </li>
  <li> Cookie Dough </li>
  <li> Cherry </li>
  <li> Cookies and Cream </li>

</ul>

<ol>
  <li> Chocolate </li>
  <li> Cookie Dough </li>
  <li> Cherry </li>
  <li> Cookies and Cream </li>
</ol>
-->
<!-- Forms -->

<!-- <form action = "process.php" method="POST">
  <div>
  <label>First Name </label>
</div>

  <input type = "text" name = "firstName>
  </form>

  <form action = "process.php" method="POST">
    <div>
    <label>Favorite Ice Cream </label>
  </div>
    <input type = "text" name = "favIcecream">
    </form>


    <form action = "process.php" method="POST">
      <div>
      <label>Favorite Ice Cream Company </label>
      </div>
      <input type = "text" name = "favIcecreamFlavor">
      </form>

      <form action = "process.php" method="POST">
        <div>
          <label>How Does Ice Cream make you feel?</label>
          <div/>
          <textarea name= "Message"></textarea>
          <br>
          <div>
            <label>Gender</label>
            <select name = "gender">
              <option value = "male"> Male</option>
                <option value = "female"> Female</option>
                  <option value = "Other"> Other</option>
                    </select/
          </div>
          <br>
          <input type= "submit" name= "submit" Value="Submit"
    </form>


<table>
  <thead>
    <tr>
        <th>Name</th>
        <th>Favorite Ice Cream</th>
        <th> Favorite Ice Cream Company</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> Elliott Jardin</td>
      <td> Chocolate Chip Cookie Dough</td>
      <td> Ben and Jerry's </td>
    </tr>


<div style="margin-top:100px"></div>

  </tbody>
</table> -->
