<!DOCTYPE html>
<html>
    <head>
        <title> Ice Cream Social  </title>

  <body>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/images/ics.jpg" class="d-block w-100" alt="rss feed"/>
        </div>
        <div class="carousel-item">
          <img src="/images/todo.png" class="d-block w-100" alt="rss feed">
        </div>
        <div class="carousel-item">
          <img src="/images/best.png" class="d-block w-100" alt="...">
        </div>
  </body>
</div>
</div>
