.psy111{
  color:#555555;
  font-size: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: normal;
}

body { background-color: #f4f4f4;
        color:#555555;
        font-size: Arial, Helvetica, sans-serif;
        font-size: 50px;
        font-weight: normal;
        /* same as above
        font: nornal 30px Arial, Hevetica, sans-serif;

        */

        line-height: 0.5em;
        margin:0;}
