@import 'bootstrap/dist/css/bootstrap';

.navbar {

background-color: black !important;
        color:#555555;
        font-size: Arial, Helvetica, sans-serif;
        font-size: 30px;
        font-weight: normal;

}
.nav-link {
  color: #15d4a7 !important;
}

#logo{
  color: white !important;
}

#page-content {
  flex: 1 0 auto;

}

.container{
  width:70%;
  margin:auto;
}

.card-title {
  padding:10px;
  border-radius:15px;
  font-size: 40px;
}

.card-text {
  padding:10px;
  border-radius:15px;
  font-size: 30px;
  font-family: Tahoma;
  font-weight:80;
}
