@import 'bootstrap/dist/css/bootstrap';

.navbar {

background-color: white !important;

}
.nav-link {
  color: grey !important;
}

#logo{
  color: white !important;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgrey;
}
